<html>
<body>
<center> <h1> Welcome to Ansible Demo<h1> </center>
<center> <p> {{WelcomeMsg}} </p> </center>
<center> <p> {{AnotherVar}} </p> </center>
<center> <p> {{AnotherVar}} </p> </center>
</body>
</html>
